<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlatformAutomation">
    <listeners>
        <listener class-name="reporting.Setup"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/akhilsharma/IdeaProjects/PlatformAutomation">
        <classes>
            <class name="Ingestion.UserIngestion"/>

        </classes>


    </test>
</suite>