<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Setup"/>
    </listeners>
    <test verbose="2" preserve-order="true" parallel = "classes" name="/Users/rohitjain/workplace/PlatformAutomation">
        <packages>
            <package name="tests.ameren.singleMeter"></package>
            <package name="tests.ameren.multimeter"></package>
        </packages>
    </test>
</suite>